* {
    font-family: 'Jost', sans-serif;
}

#cronometer {
    height: 100vh;
}

.timer-body {
    background-color: #02799D;
    border-radius: .93rem;
    padding: 2rem;
    text-align: center;
}

.timer-wrapper {
    font-size: clamp(6rem, 6rem + 3vw, 11rem);
    padding: 40px;
}

#timer {
    display: flex;
    justify-content: center;
}

.minutes,
.dot {
    color: white;
    font-weight: 500;
}

.seconds {
    color: white;
    font-weight: 100;
}

#controls button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.btn-secondary {
    background-color: #1d8aac;

    &&:hover {
        background-color: transparent !important;
    }
}

.btn-secondary.active {
    background-color: #026988;
    transform: scale(0.98);
    transform: translateY(4px);
}

.sound-btn {
    border-radius: 1.56rem;
    width: 8.62rem;
    height: 9.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sound-btn img {
    width: 5rem;
}

.sound-btn:hover {
    transform: scale(0.98);
}

.sound-btn.active {
    background-color: #026988;
    transform: scale(0.98);
    transform: translateY(4px);
}

.footer {
    margin-top: auto;
}

.footer img {
    width: 50px;
}

@media (max-width: 999px) {
    .timer-body {
        flex-direction: column-reverse;
    }
}